<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Link</a>
          </li>
          <app-cart-summary></app-cart-summary>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0" style="float: right">
          <div class="form-inline my-2 my-lg-0" style="float: right">
            <button
              *ngIf="!isVerified"
              class="btn btn-primary my-2 my-sm-0"
              routerLink="/login"
            >
              Login
            </button>
            <button
              *ngIf="!isVerified"
              class="btn btn-primary my-2 my-sm-0"
              routerLink="/register"
              style="margin-left: 10px"
            >
              Register
            </button>
            <div *ngIf="isVerified">
              <div class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle btn btn-primary"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >{{userName}}</a
                >
                <div class="dropdown-menu">
                  <button class="dropdown-item" routerLink="/profile">Profil</button>
                  <button class="dropdown-item" routerLink="/login" (click)="logOut()">Çıkış Yap</button>
                </div>
              </div>
            </div>
          </div>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>