<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<!-- Filter section start-->
<div class="row">
  <div class="col-md-5">
    <label class="mr-sm-2" for="inlineFormCustomSelect"> Markalar </label>
    <select class="custom-select custom-select-md mb-3" [(ngModel)]="brandId">
      <option selected>Tüm Renkler</option>
      <option
        [value]="brand.brandId"
        *ngFor="let brand of brands"
        [selected]="getSelectedBrandId(brand.brandId)"
      >
        {{ brand.brandName }}
      </option>
    </select>
  </div>
  <div class="col-md-5">
    <label class="mr-sm-2" for="inlineFormCustomSelect"> Renkler </label>
    <select
      class="custom-select custom-select-md mb-3"
      [(ngModel)]="colorId"
      aria-placeholder="All Colors"
    >
      <option
        *ngFor="let color of colors"
        [value]="color.colorId"
        [selected]="getSelectedColorId(color.colorId)"
      >
        {{ color.colorName }}
      </option>
    </select>
  </div>
  <div class="col-md-2" style="margin-top: 30px; width: 100px">
    <button
      class="btn btn-success"
      routerLink="/cars/filter/{{ brandId }}/{{ colorId }}"
    >
      Filter
    </button>
  </div>
</div>
<!-- Filter section end-->

<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Marka Adı</td>
      <td>Rengi</td>
      <td>Modeli</td>
      <td>Günlük Ücret</td>
      <td>Açıklama</td>
      <td></td>
    </tr>
  </thead>
  <tr *ngFor="let car of cars">
    <td>{{ car.carId }}</td>
    <td>{{ car.brandName }}</td>
    <td>{{ car.colorName }}</td>
    <td>{{ car.modelYear }}</td>
    <td>{{ car.dailyPrice }}</td>
    <td>{{ car.description }}</td>
    <td>
      <button
        (click)="addToRent(carDetailDto)"
        type="button"
        class="btn btn-xs btn-success"
        routerLink="/cars/rentals"
      >
        Kirala
      </button>
    </td>
  </tr>
</table>
